<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE drl SYSTEM "$endpoint/labmagic/v1_2/api/connection/$openConnectionDtd">
<drl mode="normal">  
  <$openConnection username="$username" password="$password" usertoken="$usertoken" />
</drl>