<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE drl SYSTEM "$endpoint/labmagic/v1_2/api/connection/$getUserTokenDtd">
<drl mode="normal">  
  <$getUserToken username="$username" password="$password" />
</drl>