<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE drl SYSTEM "$endpoint/labmagic/v1_2/api/lms/$joinLabSessionDtd">
<drl mode="normal" connectionid="$connectionId">
  <$joinLabSession reservationid="$reservationId" />
</drl>