<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE drl SYSTEM "$endpoint/labmagic/v1_2/api/reservation/$cancelReservationDtd">
<drl mode="normal" connectionid="$connectionId">
  <$cancelReservation reservationid="$reservationId" />
</drl>