<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE drl SYSTEM "$endpoint/labmagic/v1_2/api/reservation/$confirmResponseDtd">
<drl mode="normal" connectionid="$connectionId">
  <$confirmResponse responseid="$responseId" reservationname="$name"/>
</drl>