<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE drl SYSTEM "$endpoint/labmagic/v1_2/api/lms/$powerOffDtd">
<drl mode="normal" connectionid="$connectionId">
  <$powerOff sessionid="$sessionId" deviceid="$deviceId" />
</drl>